<main>
    <h2 class="l3">Contato</h2>
    <div class="geral">
        <div class="div-left">
            <form>
                <p>Para mais informações, entre em contato:</p>
                <input type="text" placeholder="Digite seu nome">
                <input type="email" placeholder="Digite seu email">
                <textarea rows="10" placeholder="Mensagem"></textarea>
                <button>Enviar</button>
            </form>
        </div>
        <div class="div-right">
            <h4>Redes Sociais</h4>
            <div>
                <a href="https://www.linkedin.com/in/mylena-silva-nascimento-185b60262?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="/lnk.svg" alt=""></a>
                <a href="https://github.com/mylenaes"><img src="/git.svg" alt=""></a>
                <a href="https://www.instagram.com/myllena_s/"><img src="/insta.svg" alt=""></a>
            </div>
        </div>
    </div>
</main>
