<main>
    <h2 class="l3">Contato</h2>
    <div class="geral">
        <div class="div-left">
            <form (submit)="sendEmail($event)">
                <p>Para mais informações, entre em contato:</p>
              
                <input type="text" name="name" placeholder="Digite seu nome" required>
                <input type="email" name="email" placeholder="Digite seu email" required>
                <textarea name="message" rows="10" placeholder="Mensagem" required></textarea>
              
                <button type="submit">Enviar</button>
              </form>
        </div>
        <div class="div-right">
            <h4>Redes Sociais</h4>
            <div>
                <a href="https://www.linkedin.com/in/mylena-silva-nascimento-185b60262?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="/lnk.svg" alt=""></a>
                <a href="https://github.com/mylenaes"><img src="/git.svg" alt=""></a>
                <a href="https://www.instagram.com/myllena_s/"><img src="/insta.svg" alt=""></a>
            </div>
        </div>
    </div>
</main>
