.l2::after {
    content: "";
    display: inline-block;
    width: 70%; 
    height: 2px; 
    background: #CBA1FF; 
    margin-left: 10px; 
    vertical-align: middle;
}

h2{
    margin-top: 40px;
    margin-left: 10%;
    font-size: 50px;
    color: #CBA1FF;
  }

.interesses{
    margin-top: 30px;
    padding: 60px;
    font-size: 28px;
    text-align: center;
    color: #CBA1FF;
  }

.geral2{
    display:grid;
    margin-right: 60px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.tec{
    display: flex;
    & img{
        position: relative;
        left: 90px;
    }



    & p{
        width: 482;
        margin-top: 20px;
        border: 2px dashed #CBA1FF;
        height: 160px;
        padding: 40px 10px;
        padding-left: 120px;
        color: #fff;
        font-size: 15px;
        text-align: left;
    }
}

.tec2{
    display: flex;
    & img{
        position: relative;
        left: 130px;
    }

    & p{
        margin-left: 20px;
    }


}