<main>
    <h2 class="l2">Tecnologias</h2>
</main>

<p class="interesses">Tenho interesse nas áreas de Front-end, UI/UX design e Engenharia de Software,<br> de modo que já tive experiência com as seguintes tecnologias:</p>

<div class="geral2">
    <div class="tec">
        <img src="/figma.svg" alt="">
        <p>Ferramenta de design colaborativa usada para criar protótipos, interfaces e fluxos de navegação. Com o Figma, desenvolvo layouts modernos e funcionais para web e mobile.</p>
    </div>
    <div class="tec tec2">
        <img src="/canva.svg" alt="">
        <p>Plataforma de design gráfico intuitiva, ideal para criar apresentações, posts para redes sociais, banners e outros materiais visuais com rapidez e praticidade.</p>
    </div>
    <div class="tec">
        <img src="/css.svg" alt="">
        <p>Linguagem de estilo utilizada para deixar as páginas web visualmente atraentes. Com CSS, personalizo cores, fontes, espaçamentos e crio layouts responsivos.</p>
    </div>
    <div class="tec tec2">
        <img src="/ht.svg" alt="">
        <p>Linguagem de marcação usada para estruturar o conteúdo de páginas web. Com HTML, defino títulos, parágrafos, imagens, links e outros elementos essenciais de um site.</p>
    </div>
</div>