<main>
    <h2 class="linha">Sobre</h2>
    <div class="geral">
        <div class="imagem">
            <img src="/image.svg" alt="">
        </div>
        <div class="paragrafo">
            <p>Nasci em Outubro de 2002 na cidade de Juazeiro do Norte – CE. Durante a minha trajetória escolar desenvolvi interesse por desenho, leitura e Tecnologia, fatores que me levaram a querer cursar Engenharia de Software.</p>
        </div>
    </div>

    <p class="exp">Experiências Acadêmicas</p>

    <div class="projetos">
        <div class="proj">
            <img src="/mdv.svg" alt="">
            <p>Mentora no Projeto Meninas Digitais do Vale <br>2023 - 2024</p>
        </div>
        <div class="proj">
            <img src="/csbc.svg" alt="">
            <p>Artigo premiado no WIT 2024</p>
        </div>
        <div class="proj">
            <img src="/labsoci.svg" alt="">
            <p>Social Media no Projeto LabSoci <br>2024 - 2024</p>
        </div>
    </div>
</main>
